body {
  font-family: sans-serif;
  color: black;
  background-image: url(2a.png);
  background-repeat: repeat;

 margin: 0 auto;
 text-align: center;
}

h1,
h2,
h3 {
  padding: 20px;
  font-weight: 300;
}

#country-name {
  background: #FFF;
  border: 2px solid #006699;
  height: 30px;
}

li {
  padding: 10px;
}

ul {
  list-style-type: none;
}

button {
    border-radius: 15px;
  border: 2px solid white;
  height: 35px;
  width: 200px;
  background: #c0392b;
  font-size: 15px;
  color: white;
  text-align: center;

}
